/* Variables */

/* Sans Serif font is Proxima Nova */

$primary-color: #169bbf;//#00a887;(green)//#ff9016;gold//#ff5859pink
$secondary-color: #48c7ea;//#00f3c3;(green)//#ffb566;gold//#ff8a8a;pink
$third-color: #106f89;//#00755e;(green)//#ad5a00;gold//#f50000;pink


.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  margin-bottom: 60px;
  .main-logo img {
    padding: 0;
  }
}

.grid-item {
  width: 170px;
  height: 160px;
  margin: 10px;
  border-radius: 20px;
  img {
    width: 110%;
    height: auto;
    padding: 35px;
  }
}

.wrapper h1 {
  text-align: center;
  vertical-align: middle;
  color: white;
  font-family: 'proxima-nova', sans-serif;
  font-size: 2.5em;
  line-height: 110px;
}

.grid-item--width2 {
  width: 380px;
}

.grid-item--height2 {
  height: 350px;
  h1 {
    line-height: 280px;
    }
  p {
    color: white;
    padding: 20px;
    font-size: 2em;
    font-family: 'proxima-nova', sans-serif;
    text-align: center;
    font-weight: bold;
  }
  h6 {
    color: white;
    font-weight: 100;
    font-family: 'proxima-nova', sans-serif;
    text-align: center;
    font-size: 1.5em;
  }
  img {
    width: 100%;
    height: auto;
    margin-top: 70px;
  }
}

.primary {
  background-color: $primary-color;
}

.secondary {
  background-color: $secondary-color;
}

.third {
  background-color: $third-color;
} 

.img1 {
  background-image: 
    linear-gradient(
      rgba(0,0,0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url('../img/chatt.jpg');
}

.img2 {
  background-image: 
    linear-gradient(
      rgba(0,0,0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), url('../img/lpg.jpg');
}

.img3 {
  background-image: 
    linear-gradient(
      rgba(0,0,0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url('../img/love.jpg');
}

.img4 {
  background-image: 
    linear-gradient(
      rgba(0,0,0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url('../img/mac.jpg');
}

.img5 {
  background-image: 
    linear-gradient(
      rgba(0,0,0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url('../img/space.jpg');
}

#smaller-border {
  height: 250px;
  width: 250px;
  box-sizing: border-box;
  margin: 25px auto;
  border: solid 10px $primary-color;
  border-radius: 50%;
  h1 {
    color: $primary-color;
    font-family: "proxima-nova", sans-serif;
    line-height: 170px;
  }
}

/* ==============================================

about.html

=============================================== */

.about {
  margin: 0 0 50px 0 !important;
  img {
    margin-top: 38px;
  }
  h1 {
    font-family: "proxima-nova" sans-serif;
    color: $primary-color;
  }
  p {
    font-family: "proxima-nova" sans-serif;
    font-size: 1.2em;
    max-width: 100%;
  }
  .padded-column {
    padding: 40px;
  }
}

.topper {
  width: 100%;
  height: 120px;
  background-color: white;//$primary-color;
  margin-bottom: 100px;
  img {
    display: block;
    height: 180px;
    width: auto;
    text-align: center;
    margin: 10px auto 0 auto;//20px 60px;
  }
}

.bottom {
  width: 100% !important;
  height: 120px;
  background-color: $primary-color;
  margin-top: 100px !important; 
  overflow: hidden;
  
  .logo {
    img {
    max-height: 120px;
    width: auto;
    //margin: 50px 150px;
  }
}
  
.icon {
  ul {
    text-align: center;
  }
  li {
    display: inline-block;
    text-align: center;
   }
    img {
      max-height: 60px;
      width: auto;
      margin: 30px 0;
      padding: 0 10px;
      border-radius: 20px;
    }
  }
}

.navigation {
  text-align: center;
  margin: 20px auto !important;
  li {
    display: inline-block;
    list-style-type: none;
    margin: 0 100px;
  }
  a {
    font-family: "proxima-nova" sans-serif;
    font-size: 1.8em;
    text-align: center;
    color: $primary-color;
      &:hover {
        color: $third-color;
      }
  }
}

.tags {
  h1 {
    color: $primary-color;
    font-family: 'proxima-nova', sans-serif;
    text-align: center;
  }
}

/* =================================

Archive

=================================== */

.wrapper1 {
  .grid-item {
    p {
    color: white;
    text-align: center;
    font-family: 'proxima-nova', sans-serif;
    }
    h6 {
    color: white;
    text-align: center;
    font-family: 'proxima-nova', sans-serif;
    }
  }
}

.archive-list1 {
  font-family: 'proxima-nova', sans-serif;
  margin: 0 auto;
  color: $primary-color;
  margin-bottom: 25px;
  li {
    text-align: center;
    list-style-type: none;
  }
  h1 {
    color: $primary-color;
    text-align: center;
    font-family: 'proxima-nova', sans-serif;
  }
}

.archive-list2 {
  font-family: 'proxima-nova', sans-serif;
  margin: 0 auto;
  color: $primary-color;
  text-align: center;
  li {
    text-align: center;
    list-style-type: none;
    display: inline-block;
  }
}



@media screen and (max-width: 767px) {

  //  .grid-item {
  // width: 100px;
  // height: 160px;
  // margin: 10px;
  // border-radius: 20px;
  // }

  // .grid-item--width2 {
  // width: 380px;
  // }

  .grid-item--height2 {
  height: 350px;
  h1 {
    line-height: 280px;
  }
  p {
    color: white;
    padding: 20px;
    font-size: 2em;
    font-family: "proxima-nova", sans-serif;
    text-align: center;
    font-weight: bold;
  }
  h6 {
    color: white;
    font-weight: 100;
    font-family: "proxima-nova", sans-serif;
    text-align: center;
    font-size: 1.5em;
  }
  img {
    width: 100%;
    height: auto;
    margin-top: 70px;
  }
}

}


// @media screen and (max-width: 767px) {
//     .columns:last-child {
//       float: none;
//   }
// }








