/* Variables */

/* Sans Serif font is Proxima Nova */

$primary-color: #00a887;
$secondary-color: #00f3c3;
$third-color: #00755e;


.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.grid-item {
  width: 170px;
  height: 160px;
  margin: 10px;
  border-radius: 20px;
}

.wrapper h1 {
  text-align: center;
  vertical-align: middle;
  color: white;
  font-family: "proxima-nova";
  line-height: 110px;
}

.grid-item--width2 {
  width: 380px;
}

.grid-item--height2 {
  height: 350px;
  h1 {
    line-height: 280px;
  }
  p {
    color: white;
    padding: 20px;
    font-size: 2em;
    font-family: "proxima-nova";
    text-align: center;
    font-weight: bold;
  }
  h6 {
    color: white;
    font-weight: 100;
    font-family: "proxima-nova";
    text-align: center;
    font-size: 1.5em;
  }
  img {
    width: 100%;
    height: auto;
    margin-top: 70px;
  }
}

.primary {
  background-color: $primary-color;
}

.secondary {
  background-color: $secondary-color;
}

.third {
  background-color: $third-color;
} 

.img1 {
  background-image: 
    linear-gradient(
      rgba(0,0,0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url('../img/chatt.jpg');
}

.img2 {
  background-image: 
    linear-gradient(
      rgba(0,0,0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), url('../img/lpg.jpg');
}

.img3 {
  background-image: 
    linear-gradient(
      rgba(0,0,0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url('../img/love.jpg');
}

.img4 {
  background-image: 
    linear-gradient(
      rgba(0,0,0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url('../img/mac.jpg');
}

.img5 {
  background-image: 
    linear-gradient(
      rgba(0,0,0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url('../img/space.jpg');
}

@media screen and (max-width: 767px) {

  //  .grid-item {
  // width: 100px;
  // height: 160px;
  // margin: 10px;
  // border-radius: 20px;
  // }

  .grid-item--width2 {
  width: 300px;
  }

  .grid-item--height2 {
  height: 350px;
  h1 {
    line-height: 280px;
  }
  p {
    color: white;
    padding: 20px;
    font-size: 2em;
    font-family: "proxima-nova";
    text-align: center;
    font-weight: bold;
  }
  h6 {
    color: white;
    font-weight: 100;
    font-family: "proxima-nova";
    text-align: center;
    font-size: 1.5em;
  }
  img {
    width: 100%;
    height: auto;
    margin-top: 70px;
  }
}

}


/* ==============================================

about.html

=============================================== */

.about {
  margin: 75px 150px 50px 150px !important;
  img {
    margin-top: 38px;
  }
  h1 {
    font-family: "proxima-nova" sans-serif;
    color: $primary-color;
  }
  p {
    font-family: "proxima-nova" sans-serif;
    font-size: 1.2em;
    max-width: 100%;
  }
  .padded-column {
    padding: 40px;
  }
}

.topper {
  width: 100%;
  height: 75px;
  background-color: $primary-color;
}

.bottom {
  width: 100% !important;
  height: 220px;
  background-color: $primary-color;
  
  .logo {
    img {
    max-height: 120px;
    margin: 50px 150px;
  }
}
  
.fb {
    display: inline;
    text-align: right;
    img {
      max-height: 100px;
      margin: 60px 0;
    }
  }
  
.tw {
    display: inline;
    text-align: left;
    img {
      height: 100px;
      margin: 60px 0;
    }
  }
}



.navigation {
  text-align: center;
  margin: 50px auto !important;
  a {
    font-family: "proxima-nova" sans-serif;
    font-size: 1.8em;
    text-align: center;
    color: $primary-color;
      &:hover {
        color: $third-color;
      }
  }
}

@media screen and (max-width: 767px) {
    .columns:last-child {
      float: none;
  }
}








